**Notebook:** 
1. Feature selection
2. Modelling part

In [1]:
import pandas as pd
import pyreadstat
import numpy as np
import os
from sklearn.impute import SimpleImputer

pd.set_option('display.max_columns', 40)
pd.set_option('display.width', -1)
pd.set_option('display.max_colwidth', 0) # allows to see all the text in the columns

In [2]:
# Directory 
os.getcwd()  # to see the current path of working directory

os.chdir(os.getcwd())  # set the current working directory

In [3]:
## Import the file with questions and meanings
map_variables = pd.read_csv("Appendix_MariyaHristova_11250_Feb2023_mapping.csv")

## Import the clean data:
data_clean = pd.read_csv("Appendix_MariyaHristova_11250_Feb2023_data_clean.csv")

print(data_clean.shape)
data_clean.head()

#pd.DataFrame(data_clean.columns)

(674, 245)

,q1,q2,q3,q3_rec,q4,q5,q5_number,q5_rec,q7,q9a,q10_1,q10_2,q10_3,q10_4,q10_5,q10_6,q10_7,q10_8,q10_9,q10_10,...,q49_other,q49_owner,q49_pensioneer,q49_student,q49_unemployed,q49_worker,q51_not_employed,q51_private,q51_public,age_of_entry,q5_age_18_25,q5_age_26_35,q5_age_36_50,q5_above_51,return,education,q40_child_BG,q40_child_same,q40_child_dif,q8_bg_double
0,1.0,1.0,32.0,6.0,0.0,65.0,64.0,8.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,1,0,0,0,1,0,0,33.0,0,0,0,1,0.0,6.0,0,0,0,0
1,1.0,1.0,32.0,6.0,0.0,65.0,64.0,8.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,33.0,0,0,0,1,0.0,6.0,0,0,0,0
2,1.0,1.0,33.0,6.0,0.0,65.0,65.0,8.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,1,0,0,0,1,0,0,32.0,0,0,0,1,0.0,6.0,0,0,0,0
3,1.0,1.0,33.0,6.0,0.0,65.0,65.0,8.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,32.0,0,0,0,1,0.0,6.0,0,0,0,0
4,1.0,6.0,2.0,2.0,1.0,22.0,21.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,20.0,1,0,0,0,1.0,4.0,0,0,0,1

In [4]:
# check for duplicates
data_clean_d =data_clean.copy()
data_clean_d.drop_duplicates(subset=None, inplace=True)
data_clean_d.shape

print("Number of duplicated rows:", data_clean_d.shape[0] - data_clean.shape[0] )

Number of duplicated rows: 0

# Remove varibles with missing values

###  Identify

In [5]:
# Calculate the percentage of missing values for each variable
data_missing_perc = pd.DataFrame(data_clean.isna().sum() / len(data_clean)).reset_index(drop = False)
data_missing_perc = data_missing_perc.rename(columns={0: 'Percentage of missing values', "index": "Variable"}, errors="raise")

data_missing_perc.sort_values(by = 'Percentage of missing values', ascending = False )
#data_missing_perc.sort_values(by = "Question")

# Merge with the meanings of the variables
df = data_missing_perc.merge(map_variables, left_on = 'Variable', right_on = 'Variable', how = 'inner')

# Reorder the columns
cols_new = ['Variable','Question', 'Percentage of missing values']
df[cols_new].sort_values(by = "Percentage of missing values", ascending = False)

# to csv
#df.to_csv("percentage_missing_values.csv", index=False)

,Variable,Question,Percentage of missing values
116,q40_3,40. Where do your children live?,0.982196
113,q39_3,39. How old are your children? - Third child,0.982196
148,q44_14,44. Communication topics with children? - other,0.979228
135,q44_1,44. Communication topics with children? - their social connections,0.979228
136,q44_2,44. Communication topics with children? - success in school,0.979228
...,...,...,...
55,q16_14,16. Why did you choose this country? - Attitude and mentality of people,0.000000
56,q16_15,16. Why did you choose this country? - I knew the language,0.000000
57,q16_16,16. Why did you choose this country? - I am on a temporary work transfer,0.000000
58,q16_17,16. Why did you choose this country? - I have relatives here,0.000000
240,q8_bg_double,8. What citizenship do you have? Dual or Bulgarian,0.000000

In [6]:
#### LATEX #### 
#Variables with missing values above 50% 
#print(round(df[cols_new][df['Percentage of missing values'] >0.50].sort_values(by = "Percentage of missing values", ascending = False),2).to_latex(index = False))

### Remove > 50%

In [7]:
# Create a boolean mask on whether each feature has less than 50% missing values.
# Only variables which have less than 50% missing values remain 
mask = data_clean.isna().sum() / len(data_clean) < 0.5

# Create a reduced dataset by applying the mask
reduced_df = data_clean.loc[:, mask]

print(data_clean.shape)
print(reduced_df.shape)
print( "Number of varibales with more than 50% missing values: ", data_clean.shape[1] - reduced_df.shape[1]) 

#remove all the features with more than 50% missing values
data_clean = reduced_df
data_clean.shape

(674, 245)
(674, 220)
Number of varibales with more than 50% missing values:  25

(674, 220)

### Missing values treatment for the target variable
Removing the respondents who have not answered this question.

In [8]:
# Remove all rows where q27 is missing 
data_clean = data_clean[data_clean['q27'].notna()] ### before: 674, after 562 rows, 112 missing rows

# Drop the question that the target variable is based on 
data_clean = data_clean.drop('q27', axis = 1)

In [9]:
## Number of rows left after removing the missing target variable 
print("Number of rows after removing the records with missing target variable: ", data_clean.shape[0])

Number of rows after removing the records with missing target variable:  562

In [10]:
print("Number of respondants after exluding those who did not answer to the target question:", data_clean.shape[0])
print("Number of exluded correspondants: ", 674 - 562)

Number of respondants after exluding those who did not answer to the target question: 562
Number of exluded correspondants:  112

In [11]:
# # # if a person has answered these question, it has a perfect correlation with the target variable. Questioinare was created. 
data_clean = data_clean.drop(["q28_1", "q28_2",  "q28_3", 'q28_4', 'q28_5', 'q28_6', 'q28_7',  'q28_9', 'q28_10'], axis = 1)

In [12]:
# Distribution of the target variable
display(round(data_clean["return"].value_counts()/len(data_clean["return"]*100),4))
# Cross tabs 
display(pd.crosstab(data_clean['return'], data_clean['q4'])) # 0 female, 1 male
display(pd.crosstab(data_clean['return'], data_clean['q4'], normalize='index'))
# Female higher percentage than men

0.0    0.605
1.0    0.395
Name: return, dtype: float64

q4,0.0,1.0
return,,
0.0,212,128
1.0,126,96

q4,0.0,1.0
return,,
0.0,0.623529,0.376471
1.0,0.567568,0.432432

## Imputing the Nans for the Xs

In [13]:
# Get only the numeric/binary/ categorical features for the up until here cleaned data set. 
binary_cols = map_variables.loc[(map_variables['Type of variable'] == "Binary")]["Variable"].tolist()
binary_cols_1 = data_clean.columns[data_clean.columns.isin(binary_cols)].tolist() # intersection between the data clean columns and all columns
print("Number of binary columns: ", len(binary_cols_1))

numeric_cols = map_variables.loc[(map_variables['Type of variable'] == "Numeric")]["Variable"].tolist()
numeric_cols_1 = data_clean.columns[data_clean.columns.isin(numeric_cols)].tolist()
print("Number of numeric columns: ", len(numeric_cols_1)) 

ordinal_categorical_cols = map_variables.loc[(map_variables['Type of variable'] == "Ordinal categorical")]["Variable"].tolist()
ordinal_categorical_cols_1 =  data_clean.columns[data_clean.columns.isin(ordinal_categorical_cols)].tolist()
print("Number of ordinal categorical columns: ", len(ordinal_categorical_cols_1))

nominal_categorical_cols = map_variables.loc[(map_variables['Type of variable'] == "Nominal categorical")]["Variable"].tolist()
nominal_categorical_cols_1 = data_clean.columns[data_clean.columns.isin(nominal_categorical_cols)].tolist()
print("Number of nominal categorical columns: ", len(nominal_categorical_cols_1))

print("Number of columns in the table:", data_clean.shape[1])

Number of binary columns:  157
Number of numeric columns:  7
Number of ordinal categorical columns:  41
Number of nominal categorical columns:  1
Number of columns in the table: 210

In [14]:
# Get the indexes of a value in a datframe
def getIndexes(dfObj, value):
    ''' Get index positions of value in dataframe i.e. dfObj.'''
    listOfPos = list()
    # Get bool dataframe with True at positions where the given value exists
    result = dfObj.isin([value])
    # Get list of columns that contains the value
    seriesObj = result.any()
    columnNames = list(seriesObj[seriesObj == True].index)
    # Iterate over list of columns and fetch the rows indexes where value exists
    for col in columnNames:
        rows = list(result[col][result[col] == True].index)
        for row in rows:
            listOfPos.append((row, col))
    # Return a list of tuples indicating the positions of value in the dataframe
    return listOfPos

getIndexes(data_clean, -np.inf)

[]

In [15]:
# Treating the missing values in the Xs 
data_to_impute_1 = data_clean[binary_cols_1 + ordinal_categorical_cols_1 ]
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer( strategy='most_frequent')
imp_mean.fit(data_to_impute_1)
imputed_train_df = pd.DataFrame(imp_mean.transform(data_to_impute_1))
imputed_train_df.columns = data_clean[binary_cols_1 + ordinal_categorical_cols_1 ].columns.tolist()
# Test if NaNs remain
getIndexes(imputed_train_df, np.nan)

C:\Users\marij\anaconda3\lib\site-packages\sklearn\impute\_base.py:49: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(array)

[]

In [16]:
print(len(imp_mean.statistics_))
print(len(imp_mean.feature_names_in_))

198
198

In [17]:
impute_summary_table_1 = pd.DataFrame(list(zip(imp_mean.feature_names_in_, imp_mean.statistics_)), 
                                      columns = ['Question', 'Most frequent value'])
#print(round(impute_summary_table_1,0).to_latex(longtable = False))
###### LATEX #####
# print(impute_summary_table_1.merge(map_variables, left_on = 'Question',
#                                    right_on = 'Variable', how = 'left')[['Variable', 'Most frequent value']].to_latex(index = False,  longtable=True))

In [18]:
data_to_impute_2 = data_clean[numeric_cols_1]

# Impute with the median 
imp_median = SimpleImputer(strategy='median')
imp_median.fit(data_to_impute_2)
imputed_train_df_2 = pd.DataFrame(imp_median.transform(data_to_impute_2))
imputed_train_df_2.columns = data_clean[numeric_cols_1].columns.tolist()
# Test if NaNs remain
getIndexes(imputed_train_df_2, np.nan)

[]

In [19]:
impute_summary_table_2 = pd.DataFrame(list(zip(imp_median.feature_names_in_, imp_median.statistics_)), 
                                      columns = ['Question', 'Most frequent value'])
#print(impute_summary_table_2.to_latex(index = False))

In [20]:
display(imputed_train_df_2.head())
print("Shape:", imputed_train_df_2.shape)

,q3,q5,q5_number,q17_rec,q52,q52_rec,age_of_entry
0,32.0,65.0,64.0,1984.0,2.0,2.0,33.0
1,32.0,65.0,64.0,1984.0,2.0,2.0,33.0
2,33.0,65.0,65.0,1984.0,2.0,2.0,32.0
3,33.0,65.0,65.0,1984.0,2.0,2.0,32.0
4,2.0,22.0,21.0,2013.0,2.0,2.0,20.0

Shape: (562, 7)

In [21]:
data_clean = imputed_train_df.merge(imputed_train_df_2, left_index=True, right_index=True, how = 'inner')
data_clean.head()

,q1,q4,q10_1,q10_2,q10_3,q10_4,q10_5,q10_6,q10_7,q10_8,q10_9,q10_10,q10_11,q10_12,q10_13,q10_14,q10_15,q10_16,q10_17,q10_18,...,q25_1,q25_2,q25_3,q25_4,q25_5,q25_6,q25_7,q26,q31,q32,q50,q53,education,q3,q5,q5_number,q17_rec,q52,q52_rec,age_of_entry
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,2.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,2.0,4.0,1.0,2.0,6.0,32.0,65.0,64.0,1984.0,2.0,2.0,33.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,2.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,2.0,4.0,2.0,2.0,6.0,32.0,65.0,64.0,1984.0,2.0,2.0,33.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,2.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,2.0,4.0,1.0,2.0,6.0,33.0,65.0,65.0,1984.0,2.0,2.0,32.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,2.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,2.0,4.0,2.0,2.0,6.0,33.0,65.0,65.0,1984.0,2.0,2.0,32.0
4,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,2.0,1.0,4.0,4.0,4.0,2.0,2.0,2.0,1.0,2.0,2.0,4.0,2.0,22.0,21.0,2013.0,2.0,2.0,20.0

In [22]:
data_clean.shape

(562, 205)

#  Remove variables with zero/low variance:

### Identify

In [23]:
from sklearn.feature_selection import VarianceThreshold
selector = VarianceThreshold(0.05)  # the threshold is 0.0 variance or 0.05, you chose
selector.fit(data_clean)

# Features to be removed: 
df_variances = pd.DataFrame()
df_variances["Features"] = data_clean.columns
df_variances["Variance"] = selector.variances_
print("Features with zero variance: ")

# with var < 0.05
pd.set_option('display.max_rows', None)
zero_var_features_DF = pd.DataFrame(df_variances[df_variances['Variance'] < 0.05])

df = zero_var_features_DF.merge(map_variables, left_on = 'Features', right_on = 'Variable', how = 'left')
round(df[["Variable", "Question", "Variance"]].sort_values(by = "Variance"), 2).head()

Features with zero variance:

,Variable,Question,Variance
0,q1,1. In the last 10 years have you lived outside of Bulgaria for more than an year?,0.0
25,q45_2,45. Relationship with children factors - We hear each other too rarely,0.0
23,q42_7,42. Communication with your children? - We do not communicate,0.0
47,q19_unknown,19. Lifestyle comparison? - NaN,0.0
21,q42_5,42. Communication with your children? - Through third parties,0.0

In [24]:
# # # Latex 
# print(round(df[["Variable", "Question", "Variance"]].sort_values(by = "Variance"),2).to_latex(index=False))

In [25]:
# Save to csv
#df.to_csv("variance_of_features.csv")

###  Remove

In [26]:
# Retain only those features with variance above 0.05
# Get a mask of the features selected and change the final table to include only non zero variance features

data_clean[data_clean.columns[selector.get_support(indices=False)]] 
data_clean = data_clean[data_clean.columns[selector.get_support(indices=True)]]  # 146 variables remain  # ?? removed 

print(data_clean.shape[1], "features remain with non-zero variance")
data_clean.shape

140 features remain with non-zero variance

(562, 140)

#  Remove correlated variables

In [27]:
# Get only the numeric/binary/ categorical features for the up until here cleaned data set. 
binary_cols = map_variables.loc[(map_variables['Type of variable'] == "Binary")]["Variable"].tolist()
binary_cols_1 = data_clean.columns[data_clean.columns.isin(binary_cols)].tolist() # intersection between the data clean columns and all columns
print("Number of binary columns: ", len(binary_cols_1))

numeric_cols = map_variables.loc[(map_variables['Type of variable'] == "Numeric")]["Variable"].tolist()
numeric_cols_1 = data_clean.columns[data_clean.columns.isin(numeric_cols)].tolist()
print("Number of numeric columns: ", len(numeric_cols_1)) 

ordinal_categorical_cols = map_variables.loc[(map_variables['Type of variable'] == "Ordinal categorical")]["Variable"].tolist()
ordinal_categorical_cols_1 =  data_clean.columns[data_clean.columns.isin(ordinal_categorical_cols)].tolist()
print("Number of ordinal categorical columns: ", len(ordinal_categorical_cols_1))

nominal_categorical_cols = map_variables.loc[(map_variables['Type of variable'] == "Nominal categorical")]["Variable"].tolist()
nominal_categorical_cols_1 = data_clean.columns[data_clean.columns.isin(nominal_categorical_cols)].tolist()
print("Number of nominal categorical columns: ", len(nominal_categorical_cols_1))

print("Number of columns in the table:", data_clean.shape[1])

Number of binary columns:  92
Number of numeric columns:  7
Number of ordinal categorical columns:  41
Number of nominal categorical columns:  0
Number of columns in the table: 140

In [28]:
print("Number of columns: ", data_clean.shape[1])

Number of columns:  140

### Numeric features

In [29]:
# Get the Pearson correlation of  the numeric variables
data_clean[numeric_cols_1].corr()

,q3,q5,q5_number,q17_rec,q52,q52_rec,age_of_entry
q3,1.000000,0.645977,0.648603,-0.863427,0.092884,0.110218,0.011034
q5,0.645977,1.000000,0.999021,-0.602804,0.077329,0.111484,0.770438
q5_number,0.648603,0.999021,1.000000,-0.602214,0.077254,0.111375,0.766963
q17_rec,-0.863427,-0.602804,-0.602214,1.000000,-0.034465,-0.032774,-0.068540
q52,0.092884,0.077329,0.077254,-0.034465,1.000000,0.968044,0.023724
q52_rec,0.110218,0.111484,0.111375,-0.032774,0.968044,1.000000,0.053988
age_of_entry,0.011034,0.770438,0.766963,-0.068540,0.023724,0.053988,1.000000

In [30]:
pearson_corr_to_print = round(data_clean[numeric_cols_1].corr(),2)
pearson_corr_to_print.index = ["q3: years lived abroad", "q5: age", "q5_number age", 
                               "q17_rec year of emigration", "q52: N. houshold members", 
                               "q52_rec: N. houshold members", "age_of_entry"]
pearson_corr_to_print.columns = ["q3: years lived abroad", "q5: age", "q5_number age", 
                               "q17_rec year of emigration", "q52: N. houshold members", 
                               "q52_rec: N. houshold members", "age_of_entry"]
pearson_corr_to_print

,q3: years lived abroad,q5: age,q5_number age,q17_rec year of emigration,q52: N. houshold members,q52_rec: N. houshold members,age_of_entry
q3: years lived abroad,1.00,0.65,0.65,-0.86,0.09,0.11,0.01
q5: age,0.65,1.00,1.00,-0.60,0.08,0.11,0.77
q5_number age,0.65,1.00,1.00,-0.60,0.08,0.11,0.77
q17_rec year of emigration,-0.86,-0.60,-0.60,1.00,-0.03,-0.03,-0.07
q52: N. houshold members,0.09,0.08,0.08,-0.03,1.00,0.97,0.02
q52_rec: N. houshold members,0.11,0.11,0.11,-0.03,0.97,1.00,0.05
age_of_entry,0.01,0.77,0.77,-0.07,0.02,0.05,1.00

In [31]:
# Latex 
#print(pearson_corr_to_print.to_latex())

In [32]:
# Print highest correlation pairs for numeric features

df = pd.DataFrame(data = data_clean[numeric_cols_1])  
def get_redundant_pairs(df):
    '''Get diagonal and lower triangular pairs of correlation matrix'''
    pairs_to_drop = set()
    cols = df.columns
    for i in range(0, df.shape[1]):
        for j in range(0, i+1):
            pairs_to_drop.add((cols[i], cols[j]))
    return pairs_to_drop

def get_top_abs_correlations(df, n=10):
    au_corr = df.corr(method = 'pearson').abs().unstack()
    labels_to_drop = get_redundant_pairs(df)
    au_corr = au_corr.drop(labels=labels_to_drop).sort_values(ascending=False)
    return au_corr[0:n]

print("Top Absolute Correlations")
print(get_top_abs_correlations(df, 20))

Top Absolute Correlations
q5         q5_number       0.999021
q52        q52_rec         0.968044
q3         q17_rec         0.863427
q5         age_of_entry    0.770438
q5_number  age_of_entry    0.766963
q3         q5_number       0.648603
           q5              0.645977
q5         q17_rec         0.602804
q5_number  q17_rec         0.602214
q5         q52_rec         0.111484
q5_number  q52_rec         0.111375
q3         q52_rec         0.110218
           q52             0.092884
q5         q52             0.077329
q5_number  q52             0.077254
q17_rec    age_of_entry    0.068540
q52_rec    age_of_entry    0.053988
q17_rec    q52             0.034465
           q52_rec         0.032774
q52        age_of_entry    0.023724
dtype: float64

In [33]:
# Calculate the correlation matrix and take the absolute value
corr_matrix = data_clean[numeric_cols_1].corr().abs()

# Create a True/False mask and apply it
mask = np.triu(np.ones_like(corr_matrix, dtype=bool))
tri_df = corr_matrix.mask(mask)

# List column names of highly correlated features (r > 0.95)
to_drop = [c for c in tri_df.columns if any(tri_df[c] > 0.90)]
print(to_drop)

['q5', 'q52']

In [34]:
# Drop correlated features
# Drop the features in the to_drop list
data_clean = data_clean.drop(to_drop, axis=1)

print("The reduced_df dataframe has {} columns".format(data_clean.shape[1]))

The reduced_df dataframe has 138 columns

In [35]:
# Test 1 check if highly correlated features remain 
numeric_cols_2 = data_clean.columns[data_clean.columns.isin(numeric_cols_1)].tolist()
corr_matrix = data_clean[numeric_cols_2].corr().abs()

# Create a True/False mask and apply it
mask = np.triu(np.ones_like(corr_matrix, dtype=bool))
tri_df = corr_matrix.mask(mask)

# List column names of highly correlated features (r > 0.95)
to_drop = [c for c in tri_df.columns if any(tri_df[c] > 0.90)]

print("Remaining correlated features: ", len(to_drop))

Remaining correlated features:  0

In [36]:
# Test 2 check if highly correlated features remain 
import numpy as np

indices = np.where(corr_matrix > 0.9)
indices = [(corr_matrix.index[x], corr_matrix.columns[y]) for x, y in zip(*indices)
                                        if x != y and x < y]

print("Remaining correlated features: ", len(indices))

Remaining correlated features:  0

### Ordinal categorical features

In [37]:
# Spearman Correlation of the ordinal categorical variables
data_clean[ordinal_categorical_cols_1].corr("spearman").head(15)

,q3_rec,q5_rec,q7,q12,q17_rec2,q18,q18_rec,q20_1,q20_2,q20_3,q20_4,q20_5,q20_6,q20_7,q20_8,q22_1,q22_2,q22_3,q22_4,q22_5,...,q22_7,q22a_1,q22a_2,q22b_1,q22c_1,q22c_2,q22c_3,q25_1,q25_2,q25_3,q25_4,q25_5,q25_6,q25_7,q26,q31,q32,q50,q53,education
q3_rec,1.000000,0.573144,0.187864,0.269729,-0.839836,0.108552,0.194719,0.206193,0.211303,0.085865,0.126159,0.265512,0.196650,0.203627,0.185389,-0.033045,-0.013876,0.156335,0.080879,0.062498,...,0.125527,0.192846,0.181562,0.167607,0.113275,0.145044,0.128657,0.045505,0.013794,0.187672,-0.234112,-0.264502,-0.203787,-0.097918,0.167532,-0.046116,0.076065,0.224422,0.046037,0.195069
q5_rec,0.573144,1.000000,-0.120342,0.131230,-0.493001,0.071789,0.188125,0.274591,0.225551,0.171603,0.275008,0.193568,0.230861,0.261637,0.139435,0.078886,0.094297,0.289881,0.239031,0.169611,...,0.286883,0.198573,0.126617,0.053378,0.216910,0.280983,0.171901,0.032140,-0.031947,0.186645,-0.346980,-0.270888,-0.174308,-0.076683,0.230951,-0.147320,0.100109,0.166979,0.036146,0.173581
q7,0.187864,-0.120342,1.000000,0.311531,-0.161055,0.135635,0.289515,0.016018,0.076965,0.028322,-0.093287,0.190712,0.082792,0.038502,0.121999,-0.014838,-0.050316,-0.135719,0.023810,-0.041302,...,-0.187537,0.127210,0.231866,0.162082,0.046890,0.005398,0.029925,0.053703,0.102869,0.093652,0.076902,-0.025848,-0.052739,-0.106514,-0.099989,0.026541,-0.119930,0.265283,-0.108748,0.613451
q12,0.269729,0.131230,0.311531,1.000000,-0.255341,0.168158,0.364883,0.175816,0.334007,0.132265,0.083493,0.238232,0.192424,0.169380,0.204736,-0.011200,-0.003499,0.033864,0.103483,0.054494,...,-0.016517,0.182627,0.264106,0.286657,0.165366,0.223049,0.259305,0.080331,0.013702,0.139029,-0.065184,-0.103358,-0.091998,-0.098238,-0.129463,-0.084498,-0.074513,0.502456,-0.189014,0.332378
q17_rec2,-0.839836,-0.493001,-0.161055,-0.255341,1.000000,-0.107573,-0.146142,-0.231445,-0.222094,-0.098013,-0.131300,-0.233558,-0.175617,-0.203139,-0.173911,0.021096,0.034556,-0.188159,-0.111397,-0.105960,...,-0.134287,-0.183828,-0.167546,-0.223114,-0.122251,-0.197882,-0.161613,-0.026320,0.008890,-0.136944,0.183551,0.205036,0.247396,0.109474,-0.169991,-0.020091,-0.105399,-0.244440,-0.013179,-0.175589
q18,0.108552,0.071789,0.135635,0.168158,-0.107573,1.000000,0.578998,0.094749,0.213299,0.174788,0.047552,-0.027014,0.102227,0.083983,0.017369,-0.113505,-0.173085,-0.006348,-0.001382,-0.035867,...,-0.092066,0.022920,0.113210,0.194102,0.027475,0.112528,0.169064,0.040350,0.044716,0.088631,-0.093268,-0.055151,-0.120509,-0.035874,0.133927,0.063680,0.043830,0.129084,-0.143450,0.169597
q18_rec,0.194719,0.188125,0.289515,0.364883,-0.146142,0.578998,1.000000,0.217614,0.319188,0.304474,0.192093,0.090340,0.112649,0.154712,0.109946,0.130281,-0.040032,0.029386,0.194850,0.100763,...,0.035352,0.118421,0.162271,0.229119,0.172293,0.214946,0.243400,0.034044,0.026639,0.076679,-0.111807,-0.098393,-0.069537,-0.038516,0.047899,0.009017,0.077665,0.382643,-0.176637,0.313379
q20_1,0.206193,0.274591,0.016018,0.175816,-0.231445,0.094749,0.217614,1.000000,0.554960,0.471618,0.394938,0.455077,0.554114,0.574982,0.477587,0.191653,0.189555,0.177831,0.246340,0.290132,...,0.379296,0.414492,0.353637,0.410713,0.398575,0.441071,0.432009,0.059506,0.084644,0.077503,-0.113946,-0.103240,-0.065348,-0.055361,0.075804,0.005926,0.016586,0.102970,-0.102954,0.025114
q20_2,0.211303,0.225551,0.076965,0.334007,-0.222094,0.213299,0.319188,0.554960,1.000000,0.538614,0.427069,0.390926,0.456225,0.416754,0.391640,0.134487,0.166267,0.181186,0.272545,0.193232,...,0.201254,0.363939,0.414483,0.478066,0.444510,0.617101,0.571804,-0.039847,-0.021725,0.056164,-0.041410,-0.120270,-0.131073,-0.147903,0.016034,-0.009961,-0.027987,0.246319,-0.112904,0.028012
q20_3,0.085865,0.171603,0.028322,0.132265,-0.098013,0.174788,0.304474,0.471618,0.538614,1.000000,0.439362,0.192404,0.271795,0.422049,0.227253,0.195964,0.208179,0.206557,0.269357,0.222330,...,0.205612,0.245875,0.275581,0.329076,0.387545,0.468047,0.459162,-0.000523,0.042299,0.012307,0.007137,-0.025772,-0.065663,-0.072013,0.007300,0.020609,-0.004088,0.061056,-0.122651,0.056181
q20_4,0.126159,0.275008,-0.093287,0.083493,-0.131300,0.047552,0.192093,0.394938,0.427069,0.439362,1.000000,0.241566,0.400100,0.398252,0.289388,0.305085,0.306979,0.317663,0.355148,0.265541,...,0.420220,0.245582,0.212695,0.249233,0.262846,0.409843,0.380679,-0.020754,-0.031217,-0.005344,-0.147819,-0.162159,-0.028944,-0.047107,0.114683,0.004848,0.027931,0.091312,-0.000147,0.007220
q20_5,0.265512,0.193568,0.190712,0.238232,-0.233558,-0.027014,0.090340,0.455077,0.390926,0.192404,0.241566,1.000000,0.684076,0.530679,0.529565,0.026444,0.040214,0.036072,0.051255,0.086435,...,0.187021,0.672609,0.491271,0.513445,0.265770,0.321619,0.368433,0.020886,0.017122,0.143889,-0.000026,-0.137600,-0.035477,-0.158421,0.068116,0.058734,0.000155,0.196846,-0.015836,0.104072
q20_6,0.196650,0.230861,0.082792,0.192424,-0.175617,0.102227,0.112649,0.554114,0.456225,0.271795,0.400100,0.684076,1.000000,0.545707,0.578531,0.053390,0.111860,0.134729,0.161579,0.163952,...,0.284680,0.582311,0.423420,0.468851,0.343240,0.425801,0.432753,0.076453,0.030964,0.113041,-0.111336,-0.179270,-0.041290,-0.197704,0.095111,0.066892,0.015652,0.124500,-0.055345,0.072886
q20_7,0.203627,0.261637,0.038502,0.169380,-0.203139,0.083983,0.154712,0.574982,0.416754,0.422049,0.398252,0.530679,0.545707,1.000000,0.581670,0.153052,0.128824,0.210994,0.248416,0.289181,...,0.303973,0.520754,0.404421,0.427185,0.401960,0.381234,0.370425,0.005123,-0.035098,0.026766,-0.145913,-0.128777,-0.065448,-0.131767,0.037566,0.091512,0.052054,0.133746,-0.074901,0.069121
q20_8,0.185389,0.139435,0.121999,0.204736,-0.173911,0.017369,0.109946,0.477587,0.391640,0.227253,0.289388,0.529565,0.578531,0.581670,1.000000,0.054968,0.040711,0.130574,0.196979,0.159530,...,0.178354,0.506773,0.431889,0.437848,0.317855,0.280830,0.303078,0.077896,0.049844,0.084195,0.005624,-0.054638,-0.021880,-0.128332,0.080817,0.101796,0.109714,0.096185,-0.055557,0.110125

In [38]:
#data_clean[ordinal_categorical_cols_1].corr("spearman").to_csv("ordinal_categorical_features_spearman_corr.csv")

In [39]:
# Print highest correlation pairs for ordinal categorical features

df = pd.DataFrame(data = data_clean[ordinal_categorical_cols_1])  

def get_redundant_pairs(df):
    '''Get diagonal and lower triangular pairs of correlation matrix'''
    pairs_to_drop = set()
    cols = df.columns
    for i in range(0, df.shape[1]):
        for j in range(0, i+1):
            pairs_to_drop.add((cols[i], cols[j]))
    return pairs_to_drop

def get_top_abs_correlations(df, n=10):
    au_corr = df.corr(method = 'spearman').abs().unstack()
    labels_to_drop = get_redundant_pairs(df)
    au_corr = au_corr.drop(labels=labels_to_drop).sort_values(ascending=False)
    return au_corr[0:n]

print("Top Absolute Correlations Pairs")
print(get_top_abs_correlations(df, 25))

Top Absolute Correlations Pairs
q3_rec  q17_rec2     0.839836
q25_4   q25_5        0.773360
q25_1   q25_2        0.711940
q20_5   q20_6        0.684076
        q22a_1       0.672609
q22c_2  q22c_3       0.670322
q22c_1  q22c_2       0.649825
q20_2   q22c_2       0.617101
q7      education    0.613451
q22a_2  q22b_1       0.602046
q22a_1  q22a_2       0.601973
q22b_1  q22c_3       0.596766
q20_6   q22a_1       0.582311
q20_7   q20_8        0.581670
q18     q18_rec      0.578998
q20_6   q20_8        0.578531
q20_1   q20_7        0.574982
q3_rec  q5_rec       0.573144
q20_2   q22c_3       0.571804
q22c_1  q22c_3       0.559124
q20_1   q20_2        0.554960
        q20_6        0.554114
q20_6   q20_7        0.545707
q20_2   q20_3        0.538614
q22_4   q22_5        0.536326
dtype: float64

In [40]:
top_corr_df = pd.DataFrame(get_top_abs_correlations(df, 25))
top_corr_df.columns = [ "Value"]
top_corr_df.reset_index(inplace = True)
top_corr_df.columns = ["Variable 1", "Variable 2", "Value"]
temp_df_1 = top_corr_df.merge(map_variables, left_on = 'Variable 1', right_on = 'Variable', how = 'inner')[["Variable 1", "Question", "Variable 2", "Value"]]
temp_df_1.columns = ["Variable 1", "Question 1", "Variable 2", "Value"]
temp_df_2 = temp_df_1.merge(map_variables, left_on = 'Variable 2', right_on = 'Variable', how  = 'inner')
temp_df_2 = temp_df_2[["Variable 1", "Question 1", "Variable 2", 'Question', "Value"]]
temp_df_2.columns = ["Variable 1", "Question 1", "Variable 2", 'Question 2', "Value"]
temp_df_2 = round(temp_df_2,2)
temp_df_2.sort_values(by = "Value", ascending = False)

#Latex
#print(temp_df_2.to_latex(index=False))
# 'q17_rec2' 17. What year did you emigrate? Categorical, 'q25_4' 25. We teach our children Bulgarian, 'q25_1' 25. We celebrate Bulgarian holidays

,Variable 1,Question 1,Variable 2,Question 2,Value
0,q3_rec,3. How many years have you lived abroad?,q17_rec2,17. What year did you emigrate? Categorical,0.84
2,q25_4,25. We teach our children Bulgarian,q25_5,25. Our children study in a Bulgarian school,0.77
3,q25_1,25. We celebrate Bulgarian holidays,q25_2,25. We follow Bulgarian traditions and rituals,0.71
4,q20_5,20. To what extent do you feel satisfied with: Social contacts?,q20_6,20. To what extent do you feel satisfied with: Environment?,0.68
6,q20_5,20. To what extent do you feel satisfied with: Social contacts?,q22a_1,22.2 Opportunities for social contacts: personal,0.67
8,q22c_2,22.4 Workplace conditions: - Working environment,q22c_3,22.4 Workplace conditions: - Opportunities for professional development,0.67
12,q22c_1,22.4 Workplace conditions: - Working hours,q22c_2,22.4 Workplace conditions: - Working environment,0.65
13,q20_2,20. To what extent do you feel satisfied with: Your job?,q22c_2,22.4 Workplace conditions: - Working environment,0.62
15,q7,"7. Education (acquired abroad): Categories: 1- lowest, 7 - highest",education,"Education (in Bulgaria or abroad, derived)",0.61
16,q22a_2,22.2 Opportunities for social contacts: professional,q22b_1,22.3 Opportunities for personal development,0.60
11,q22b_1,22.3 Opportunities for personal development,q22c_3,22.4 Workplace conditions: - Opportunities for professional development,0.60
17,q22a_1,22.2 Opportunities for social contacts: personal,q22a_2,22.2 Opportunities for social contacts: professional,0.60
22,q18,18. Net monthly income? - local currency,q18_rec,18. Net monthly income? -? (categorical),0.58
19,q20_7,20. To what extent do you feel satisfied with: Entertainment?,q20_8,20. To what extent do you feel satisfied with: Cultural life?,0.58
18,q20_6,20. To what extent do you feel satisfied with: Environment?,q20_8,20. To what extent do you feel satisfied with: Cultural life?,0.58
7,q20_6,20. To what extent do you feel satisfied with: Environment?,q22a_1,22.2 Opportunities for social contacts: personal,0.58
1,q3_rec,3. How many years have you lived abroad?,q5_rec,"5. Age category, 1- youngest, 8- oldest",0.57
10,q20_2,20. To what extent do you feel satisfied with: Your job?,q22c_3,22.4 Workplace conditions: - Opportunities for professional development,0.57
21,q20_1,20. To what extent do you feel satisfied with: Your lifestyle at the moment?,q20_7,20. To what extent do you feel satisfied with: Entertainment?,0.57
9,q22c_1,22.4 Workplace conditions: - Working hours,q22c_3,22.4 Workplace conditions: - Opportunities for professional development,0.56
5,q20_1,20. To what extent do you feel satisfied with: Your lifestyle at the moment?,q20_6,20. To what extent do you feel satisfied with: Environment?,0.55
20,q20_6,20. To what extent do you feel satisfied with: Environment?,q20_7,20. To what extent do you feel satisfied with: Entertainment?,0.55
23,q20_1,20. To what extent do you feel satisfied with: Your lifestyle at the moment?,q20_2,20. To what extent do you feel satisfied with: Your job?,0.55
14,q20_2,20. To what extent do you feel satisfied with: Your job?,q20_3,20. To what extent do you feel satisfied with: Your income?,0.54
24,q22_4,22.1 Urban planning and living conditions:Conditions for pedestrians,q22_5,22.1 Urban planning and living conditions: Parks and gardens,0.54

In [41]:
# Calculate the correlation matrix and take the absolute value
corr_matrix = data_clean[ordinal_categorical_cols_1].corr("spearman").abs()

# Create a True/False mask and apply it
mask = np.triu(np.ones_like(corr_matrix, dtype=bool))
tri_df = corr_matrix.mask(mask)

# List column names of highly correlated features (r > 0.95)
to_drop = [c for c in tri_df.columns if any(tri_df[c] > 0.70)]
print(to_drop)

to_drop = ['q17_rec2', 'q25_4' , 'q25_1']
print(to_drop)

['q3_rec', 'q25_1', 'q25_4']
['q17_rec2', 'q25_4', 'q25_1']

In [42]:
# Drop correlated features
# Drop the features in the to_drop list
data_clean = data_clean.drop(to_drop, axis=1)
print("The reduced_df dataframe has {} columns".format(data_clean.shape[1]))

The reduced_df dataframe has 135 columns

In [43]:
# Test 1 check if highly correlated features remain 
ordinal_categorical_cols_2 = data_clean.columns[data_clean.columns.isin(ordinal_categorical_cols_1)].tolist()
corr_matrix = data_clean[ordinal_categorical_cols_2].corr().abs()

# Create a True/False mask and apply it
mask = np.triu(np.ones_like(corr_matrix, dtype=bool))
tri_df = corr_matrix.mask(mask)

# List column names of highly correlated features (r > 0.95)
to_drop = [c for c in tri_df.columns if any(tri_df[c] > 0.70)]

print("Remaining correlated features: ", len(to_drop))

Remaining correlated features:  0

In [44]:
# Test 2 Check if highly correlated features remain 

indices = np.where(corr_matrix > 0.9)
indices = [(corr_matrix.index[x], corr_matrix.columns[y]) for x, y in zip(*indices)
                                        if x != y and x < y]

print("Remaining correlated features: ", len(indices))

Remaining correlated features:  0

In [45]:
data_clean.head()

,q4,q10_1,q10_2,q10_3,q10_4,q10_5,q10_6,q10_7,q10_8,q10_9,q10_11,q10_12,q10_13,q10_14,q10_15,q10_16,q10_17,q10_18,q10_19,q13,...,q22b_1,q22c_1,q22c_2,q22c_3,q25_2,q25_3,q25_5,q25_6,q25_7,q26,q31,q32,q50,q53,education,q3,q5_number,q17_rec,q52_rec,age_of_entry
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,...,5.0,5.0,5.0,5.0,2.0,2.0,3.0,3.0,3.0,3.0,2.0,4.0,1.0,2.0,6.0,32.0,64.0,1984.0,2.0,33.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,...,5.0,5.0,5.0,5.0,2.0,2.0,3.0,3.0,3.0,3.0,2.0,4.0,2.0,2.0,6.0,32.0,64.0,1984.0,2.0,33.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,...,5.0,5.0,5.0,5.0,2.0,2.0,3.0,3.0,3.0,3.0,2.0,4.0,1.0,2.0,6.0,33.0,65.0,1984.0,2.0,32.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,...,5.0,5.0,5.0,5.0,2.0,2.0,3.0,3.0,3.0,3.0,2.0,4.0,2.0,2.0,6.0,33.0,65.0,1984.0,2.0,32.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,3.0,3.0,4.0,0.0,2.0,1.0,4.0,4.0,2.0,2.0,2.0,1.0,2.0,2.0,4.0,2.0,21.0,2013.0,2.0,20.0

In [46]:
data_clean.shape # 143 : 05/02/2021  #135 11/02/2023

(562, 135)

# Chi-square tests between the target variable and binary variables

**Null Hypothesis (H0):** There is no relationship between the variables

**Alternative Hypothesis (H1):** There is a relationship between variables

In [47]:
# Chi- square test between two variables
pd.crosstab(data_clean['return'], data_clean['q15_3'])

# Import the function
from scipy.stats import chi2_contingency #Testing the relationship
chi_res = chi2_contingency(pd.crosstab(data_clean['return'], data_clean['q15_3']))
print('Chi2 Statistic: {}, p-value: {}'.format(chi_res[0], chi_res[1]))

Chi2 Statistic: 2.3989886863377876, p-value: 0.12141371834513455

In [48]:
len(binary_cols)

189

In [49]:
binary_cols = map_variables.loc[(map_variables['Type of variable'] == "Binary")]["Variable"].tolist()
binary_cols_1 = data_clean.columns[data_clean.columns.isin(binary_cols)].tolist() # intersection between the data clean columns and all column

In [50]:
df_for_chi = data_clean[binary_cols_1]
df_for_chi = df_for_chi.drop(["return"], axis = 1)
categorical_columns = df_for_chi.columns.tolist()
#data_clean.columns[]

In [51]:
df_for_chi.head()

,q4,q10_1,q10_2,q10_3,q10_4,q10_5,q10_6,q10_7,q10_8,q10_9,q10_11,q10_12,q10_13,q10_14,q10_15,q10_16,q10_17,q10_18,q10_19,q13,...,q33_bulgarian,q34_divorced,q34_longterm_partner,q34_married,q34_unmarried,q35_bulgarian,q35_host_country,q35_no_husband/wife,q35_other_country,q49_employee,q49_owner,q49_student,q49_worker,q51_not_employed,q51_private,q51_public,q5_age_18_25,q5_age_26_35,q5_age_36_50,q8_bg_double
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [52]:
# True 
from scipy.stats import chi2_contingency
chi_stat = []
p_values = []
chi2_check = []

for i in categorical_columns:
    if round(chi2_contingency(pd.crosstab(data_clean['return'], data_clean[binary_cols_1][i]))[1],2) < 0.05:
        #print(chi2_contingency(pd.crosstab(data_clean['return'], data_clean[binary_cols_1][i]))[1])
        chi_res = chi2_contingency(pd.crosstab(data_clean['return'], data_clean[binary_cols_1][i]))
        chi2_check.append('Reject Null Hypothesis')
        chi_stat.append(chi_res[0])
        #print(chi_res)
#         print("QUESRION:" , i)
#         print("chi-stat:", chi_res[0])
#         print("P-value:", round(chi_res[1],2))
#         print('Reject Null Hypothesis')
          #print('\n')
        p_values.append(round(chi_res[1],2))
       
        
    else:
        chi_res = chi2_contingency(pd.crosstab(data_clean['return'], data_clean[binary_cols_1][i]))
        chi2_check.append('Fail to Reject Null Hypothesis')
        chi_stat.append(chi_res[0])
        p_values.append(round(chi_res[1],2))
#         print("QUESRION:" , i)
#         print("chi-stat:", chi_res[0])
#         print("P-value:", round(chi_res[1],2))
#         print('Fail to Reject Null Hypothesis')
        p_values.append(chi_res[1])
       # print('\n')
        
res = pd.DataFrame(data = [categorical_columns,chi_stat, p_values , chi2_check]).T 
res.columns = ['Variable','Chi-square statistic','p-value','Hypothesis']
res["Chi-square statistic"] = round(res["Chi-square statistic"].astype(float),2)

#res.to_csv("chi-square_binary.csv")
res.head()

,Variable,Chi-square statistic,p-value,Hypothesis
0,q4,1.53,0.22,Fail to Reject Null Hypothesis
1,q10_1,7.57,0.21627,Reject Null Hypothesis
2,q10_2,15.42,0.01,Reject Null Hypothesis
3,q10_3,0.01,0.0,Fail to Reject Null Hypothesis
4,q10_4,2.79,0.9,Fail to Reject Null Hypothesis

In [53]:
#######  LATEX TABLES #######
# # Failed to reject 

# print(res[res['Hypothesis'] == 
#     "Fail to Reject Null Hypothesis" ].merge(map_variables, left_on = 'Variable',
#                                              right_on = 'Variable', how = 'inner')[["Variable", "Question", "Chi-square statistic"]].sort_values(by = "Chi-square statistic", 
#                                                                                                                                                 ascending = False).to_latex(index = False))

# Rejected colunms 

# print(res[res['Hypothesis'] == 
#    "Reject Null Hypothesis" ].merge(map_variables, 
#                                     left_on = 'Variable',
#                                     right_on = 'Variable',
#                                     how = 'inner')[["Variable",
#                                                     "Question",
#                                                     "Chi-square statistic"]].sort_values(by = "Chi-square statistic", ascending = False).to_latex(index = False))

# #chi_square_rejected_cols.png

If we choose our p-value level to 0.05, as the p-value test result is more than 0.05 we fail to reject the Null Hypothesis. This means, there is no relationship between the Gender and Loan_Status feature based on the Chi-Square test of independence.

**Reject the null:** there is a relationship <br>
**Fail to reject:** there is no relationship

In [54]:
rejected_cols = res[res["Hypothesis"] == "Reject Null Hypothesis"]["Variable"].tolist()
not_rejected_cols = res[res["Hypothesis"] == "Fail to Reject Null Hypothesis"]["Variable"].tolist()
#not_rejected_cols

In [55]:
print("Rejected columns:", len(rejected_cols))
print("Not rejected colunms: ", len(not_rejected_cols))

Rejected columns: 40
Not rejected colunms:  51

In [56]:
# drop the not rejected ( no relationship varibales)
#data_clean[not_rejected_cols].head()
data_clean = data_clean.drop(not_rejected_cols, axis = 1)

In [57]:
print("Remaining columns after chi-square tests:", data_clean.shape[1]) # 674, 93 : 31/01/2021
print("Number of rows:",data_clean.shape[0])

Remaining columns after chi-square tests: 84
Number of rows: 562

In [58]:
data_clean.shape  # 562, 85

(562, 84)

In [59]:
## Load necessary packages:
## Logit for general logistic regression 
# import sklearn
# from sklearn.linear_model import SGDClassifier
# from sklearn.preprocessing import StandardScaler
# from sklearn.model_selection import GridSearchCV
# import statsmodels.api as sm  
# from sklearn.linear_model import LogisticRegression
# from sklearn.datasets import load_iris
# from sklearn.preprocessing import StandardScaler
# from sklearn.model_selection import train_test_split

In [60]:
data_clean_model = data_clean

In [61]:
data_clean.shape  # (562, 94) : 06/02/2021

(562, 84)

# Multicolinearity/VIF

In [62]:
#VIF: 
## Test for multicollinearity with VIF 
# To check for multi-collinearity in the independent variables, the Variance Inflation Factor (VIF) technique is used.
# The variables with VIF score of > 10 means that they are very strongly correlated.
#Therefore, they are discarded and excluded in the logistic regression model.
### 

data_clean.shape
from statsmodels.stats.outliers_influence import variance_inflation_factor

def calc_vif(X):
    # Calculating VIF
    vif = pd.DataFrame()
    vif["Features"] = X.columns  # trying to exlude of the age variables. 
    vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

    return(vif)

#calc_vif(data_clean).to_csv("vif_variables.csv")
# If it exceeds 5 or 10 --> collinearity 

vif = calc_vif(data_clean).sort_values(by = "VIF", ascending = False)

high_vif = vif[vif["VIF"] > 10]["Features"].tolist()

high_vif_df = round(vif[vif["VIF"] > 10].merge(map_variables, left_on = 'Features',
                                 right_on = 'Variable', how = 'inner')[['Features', 'VIF', 'Question']],2)

#display(high_vif_df)

print(len(data_clean.columns))

#X_train_clean = X_train.drop(high_vif, axis = 1)
#X_test_clean = X_test.drop(high_vif, axis = 1)

# print(len(X_train.columns))
# len(data_clean.columns)

# latex
# print(high_vif_df.to_latex(index = False))

84

In [63]:
# Combining the variables to fix the multicolinearity 
##################  q20_7_8 ###############################
# added to map variables
#for i in ['q20_7','q20_8']: 
#    display(data_clean[i].value_counts())
    
data_clean["q20_7_8"] = round((data_clean["q20_7"] + data_clean["q20_8"])/2)
data_clean.drop(["q20_7","q20_8"], axis = 1, inplace = True)

##################  q8_bg_double ###############################
# added to map variables
# make bg citizentship or BG cit into 1 variable
# for i in ['q8_bulgarian','q8_double']: 
#     display(data_clean[i].value_counts())
    
# data_clean['q8_bg_double'] = np.where((data_clean['q8_bulgarian']> 0) | (data_clean['q8_double']> 0), 1, 0)
# data_clean['q8_bg_double'] .value_counts()
data_clean.drop(["q8_bulgarian","q8_double"], axis = 1, inplace = True)  # foreign, complementary variables.. 
# Correlated with foreign 

##################  q10_15_16 ###############################

#for i in ['q10_15','q10_16']: 
#    display(data_clean[i].value_counts())
    
data_clean["q10_15_16"] = round((data_clean["q10_15"] + data_clean["q10_16"])/2)
data_clean.drop(["q10_15","q10_16"], axis = 1, inplace = True)

##################  q16_people ###############################
# added to map variables
# for i in ['q16_8','q16_14']: 
#     display(data_clean[i].value_counts())
    
data_clean['q16_people'] = np.where((data_clean['q16_8']> 0) | (data_clean['q16_14']> 0), 1, 0)
data_clean['q16_people'] .value_counts()
data_clean.drop(["q16_8","q16_14"], axis = 1, inplace = True)

##################  q20_2_3 ###############################
# added to map variables
# satisfaction with work and income

# for i in ['q20_2', 'q20_3']: 
#     display(data_clean[i].value_counts())

data_clean["q20_2_3"] = round((data_clean["q20_2"] + data_clean["q20_3"])/2)
data_clean.drop(["q20_2","q20_3"], axis = 1, inplace = True)


##################  q22 ###############################
#for i in ['q22_1','q22_2','q22_3','q22_4','q22_5','q22_6','q22_7']: 
# added to map variables
   # display(data_clean[i].value_counts())
    
data_clean["q22"] = round((data_clean['q22_1'] +
                                 data_clean['q22_2'] +
                                 data_clean['q22_3'] +
                                 data_clean['q22_4'] +
                                 data_clean['q22_5'] +
                                 data_clean['q22_6'] +
                                 data_clean['q22_7'])/7)

data_clean = data_clean.drop(['q22_1','q22_2','q22_3','q22_4','q22_5','q22_6','q22_7'], axis = 1)

################ q22_a ###########################
# added to map variables
# Combining the variable into one: 
# Opportunities for social contacts personal	q22a_1
# Opportunities for social contactsprofessional	q22a_2
#display(data_clean["q22a_1"].value_counts())
#display(data_clean["q22a_2"].value_counts())

data_clean["q22_a"] = round((data_clean["q22a_1"] + data_clean["q22a_2"])/2)
data_clean.drop(["q22a_1","q22a_2"], axis = 1, inplace = True)
#data_clean["q22_a"].value_counts()

################ q22c_2 ##########################
#display(data_clean["q22c_1"].value_counts())
#display(data_clean["q22c_2"].value_counts())
#display(data_clean["q22c_3"].value_counts())
# added to map variables

data_clean["q22c"] = round((data_clean["q22c_1"] + data_clean["q22c_2"] + data_clean["q22c_3"] )/3)
data_clean.drop(["q22c_1","q22c_2", "q22c_3" ], axis = 1, inplace = True)

##################  q25_cult_ties #################
# for i in ['q25_1','q25_2','q25_3','q25_4','q25_5','q25_6','q25_7']: 
#     display(data_clean[i].value_counts())
# added to map variables

data_clean["q25_cult_ties"] = round((#data_clean['q25_1'] +
                                 data_clean['q25_2'] +
                                 data_clean['q25_3'] +
                               #  data_clean['q25_4'] +
                                 data_clean['q25_5'] +
                                 data_clean['q25_6'] +
                                 data_clean['q25_7'])/7)

data_clean = data_clean.drop(['q25_2','q25_3','q25_5',
                                          'q25_6','q25_7'], axis = 1) #'q25_1'. 'q25_4'

# q12 and q50 are correlated
########################### USING LOGIC: ############################################
data_clean = data_clean.drop([ 'q17_rec',   "q5_rec", "q20_1",  "q20_6", "q20_4", 'q20_5', 
                                          'age_of_entry', 'q50'], axis = 1) #'q17_rec2' 

#data_clean.drop([ "q6", "q7", "q18"], axis = 1, inplace = True)  #"q2" 

########################### VIF AFTER CHANGES ############################ 
vif = calc_vif(data_clean).sort_values(by = "VIF", ascending = False)

#vif
round(vif[vif["VIF"] > 0].merge(map_variables, left_on = 'Features', right_on = 'Variable', how = 'inner')[['Features', 'VIF', 'Question']],2).head()

,Features,VIF,Question
0,education,60.22,"Education (in Bulgaria or abroad, derived)"
1,q22,48.80,22.1 Urban planning and living conditions
2,q20_2_3,45.96,20. To what extent do you feel satisfied with: Job and income?
3,q20_7_8,37.87,20. To what extent do you feel satisfied with: Culture and entertainment?
4,q5_number,36.63,"5. Age, number"

In [64]:
print("Remaining shape:", data_clean.shape) # includes the target variable

Remaining shape: (562, 57)

# Export data

In [65]:
data_clean.to_csv("Appendix_MariyaHristova_11250_Feb2023_data_for_model.csv", index = False)